@model OEMS.Models.CourseViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Course</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayTextFor(model => model.CourseId)
                <div style="display:none">
                    @Html.EditorFor(model => model.CourseId, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModulesCount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayTextFor(model => model.ModulesCount)
                <div style="display:none">
                    @Html.EditorFor(model => model.ModulesCount, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.ModulesCount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("AddModule", "Course", FormMethod.Post))
{
    @Html.DropDownList("AllModules", (ViewBag.AllModules as SelectList), "Select Module", new { @class = "dropdown" })
    <input id="Submit1" type="submit" value="Add Module"  class="btn btn-default" />
}
<div id="QuestionsView">
    <div>
        <table class="table ">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>No of Questions</th>
                <th></th>
            </tr>

            @foreach (var item in Model.Modules)
            {
                <tr>
                    <th>@item.ModuleID</th>
                    <th>@item.Name</th>
                    <th>@item.Questions.Count()</th>
                    <th><button onclick="window.location.href='/Course/RemoveModule/?cid=@Model.CourseId&mid=@item.ModuleID'" class="btn btn-danger btn-round">
                    <i class="material-icons">close</i></button></th>
                </tr>
            }
        </table>


    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
